@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.grid {
  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
  }
}

header {
  background-color: #00cecb;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  h1 {
    margin: auto 0px;
  }
}
.category {
  margin-top: 20px;
}

.card {
  border: 1px solid rgb(160, 160, 160);
  padding: 20px;
  margin: 5px;
  border-radius: 10px;

  img {
    border-radius: 10px;
    width: 100%;
    height: 360px;
  }
  p {
    padding: 40px;
  }
  .cast {
    padding: 0px 40px;
  }
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 30px;
}

.text-center {
  text-align: center;
}
